#hero{
    background-color: #FBFCFC;
    padding: 80px 40px;
}

#hero p{
    margin-top: 24px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hero-buttons .body-text-button{
    margin-left: 24px;
}

.hero-buttons .body-text-button img{
    margin-left: 8px;
}

.hero-image{
    text-align: center;
}

#rent-collection{
    margin-top: 120px;
}

.rent-collection-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rent-collection-content p{
    margin-top: 24px;
}

.rent-collection-content p{
    margin-bottom: 40px;
}


.collection-steps{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
}

.collection-step {
    display: flex;
    justify-content: center;
}

.collection-step div p{
    margin-top: 16px;
    margin-bottom: 0;
}

.collection-step div{
    max-width: 240px;
    padding: 16px;
    border: 1px solid #388058;
    border-radius: 8px;
}


#on-time-payment{
    margin: 120px 40px;
}

#on-time-payment p{
    margin-top: 24px;
}

#on-time-payment a{
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 56px;
    }

    .hero-buttons{
        display: flex;
        flex-direction: column;
    }

    .hero-buttons .body-text-button{
        margin-left: 0px;
        margin-top: 24px;
    }

    #hero{
        padding: 40px 24px;
    }

    .hero-image{
        margin-top: 40px;
    }

    #rent-collection{
        margin-top: 80px;
        padding: 0 24px;
    }

    .collection-steps{
        padding-left: 0;
        padding-right: 0;
        margin-top: 40px;
    }

    .collection-step{
        margin-top: 24px;
    }

    .collection-step div{
        width: 312px;
    }

    .on-time-payment img{
        margin-top: 40px;
    }

}


