.center-align-content .center-content-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-align-content .center-content-section img{
    margin-top: 40px;
}