/* Font designs */

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 800;
    font-size: 64px;
    color: #388058;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    font-size: 32px;
    color: #388058;
}

h3 {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    color: #388058;
    font-weight: 600;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #388058;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.body-text-normal {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}

.body-text-large {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.body-text-small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

.body-text-small-highlight {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #388058;
}

.body-text-small-caption {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #767676;
}

.body-text-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #767676;
    font-weight: 600;
    text-decoration: none;
}

.body-text-button:hover {
    color: #388058 !important;
    text-decoration: none;
}

.main-button,
.main-button:hover {
    text-decoration: none;
    background-color: #388058;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    width: 312px;
    height: 48px;
    justify-content: center;
    align-items: center;

}

/* Navbar */

.navbar {
    height: 100px;
}

.navbar-brand {
    margin-left: 40px;
}

.navbar-brand img {
    height: 50px;
    width: 165px;
}

.nav-item {
    margin-left: 24px;
}

.navbar-light {
    background-color: #fff !important;
}

.navbar .right-align {
    margin-right: 40px;
}

.navbar-collapse {
    background-color: #fff;
}

/* footer */
.footer .row {
    margin-left: 40px;
    margin-right: 40px;

}

.footer {
    background-color: rgba(252, 238, 213, 0.1);
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.footer .footer-image-section .body-text-small-highlight {
    margin-top: 16px;
}

.footer .footer-image-section .body-text-small-caption {
    margin-top: 24px;
}

.footer .footer-links-section ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 24px;
}

.footer .footer-links-section ul li {
    list-style-type: none;
    margin-left: 0;
    margin-top: 16px;
}

.footer .footer-socials-section .body-text-small-caption {
    margin-top: 24px;
}

.footer .footer-socials-section ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 24px;

}

.footer .footer-socials-section ul li {
    list-style-type: none;
    display: inline-block;

}

.footer .footer-socials-section ul li:not(:first-child) {
    margin-left: 24px;

}

#hero {
    background-color: #FBFCFC;
    padding: 80px 40px;
}

#hero p {
    margin-top: 24px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hero-buttons .body-text-button {
    margin-left: 24px;
}

.hero-buttons .body-text-button img {
    margin-left: 8px;
}

.hero-image {
    text-align: center;
}

.page-section {
    margin-top: 80px;
    padding: 0 40px;
}

.page-section p {
    margin-top: 24px;
}

.page-section a {
    margin-top: 24px;
}

.page-section .content-section {
    max-width: 550px;
}

.image-section {
    display: flex;
    justify-content: right;
}

.right-align-content .image-section{
    justify-content: left;
}

.right-align-content .row {

    display: flex;
    flex-direction: row-reverse;

}

.right-align-content .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}



@media only screen and (max-width: 600px) {

    h1 {
        font-size: 56px;
        word-wrap: break-word;
    }

    .nav-item {
        margin-top: 24px;
    }

    .navbar-brand {
        margin-left: 16px;

    }

    .navbar .right-align {
        margin-right: 0px;
        margin-top: 24px;
    }

    .footer .row {
        margin-left: 16px;
        margin-right: 16px;

    }

    .footer h3:not(:first-child) {

        margin-top: 24px;

    }

    .footer .col-sm-12 {
        padding: 0;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .hero-buttons .body-text-button {
        margin-left: 0px;
        margin-top: 24px;
    }

    #hero {
        padding: 40px 24px;
    }

    .hero-image {
        margin-top: 40px;
    }

    .page-section {
        margin-top: 40px;
        padding: 0 24px;
    }

    .page-section p {
        margin-top: 24px;
    }

    .page-section a {
        margin-top: 40px;
    }

    .right-align-content .row {

        display: flex;
        flex-direction: column;

    }

    .page-section .content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .page-section .image-section {
        margin-top: 40px;
    }

    .image-section {
        display: flex;
        justify-content: center;
    }
    
    .right-align-content .image-section{
        justify-content: center;
    }



}