/* Menu section */
#menu .bg-light{
    background:linear-gradient(102.39deg, rgba(127, 150, 255, 0.04) 0%, rgba(215, 179, 119, 0.04) 100%) !important;
}

#menu .container-fluid{
    padding: 0;
}

nav{
    padding: 24px 40px !important;
}

nav ul{
    display: flex;
    gap:40px;
    margin-left: 40px;
}

.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #B8B6C7 !important;
}
.nav-link:hover{
    color: #7F96FF !important;
}

.primary-button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding: 8px 40px;
    text-decoration: none;
    background-color: #7F96FF;
    border-radius: 100px;
    color: #ffffff;
}

.primary-button:hover{
    color: #ffffff;
}

/* Hero section */
#hero{
    padding: 40px 40px;
    background:linear-gradient(102.39deg, rgba(127, 150, 255, 0.04) 0%, rgba(215, 179, 119, 0.04) 100%);
}

.hero-content{
    align-self: center;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 64px;
    color: #2B4162;
}

h6{
    margin-top: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #7B788D;
}

.hero-buttons{
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.hero-buttons a{
    width: 240px;
    text-align: center;
}

.outline-button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    padding: 8px 40px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 100px;
    color: #7F96FF;
    border: 1px solid #7F96FF;
}

.outline-button:hover{
    color: #7F96FF;
}


/* Facts section */

#facts{
    margin-top: 80px;
}

#facts .facts-content{
    display: flex;
    justify-content: center;
}

.facts-content-items{
    max-width: 600px;
}

.facts-content-items h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #2B4162;

}

.facts-content-items h6{
    text-align: center;
}

.facts{
    margin: 40px 40px;
    align-items: center;
    
}

.fact{
    padding: 24px 16px;
    border-radius: 16px;
}

.fact h6{
    font-size: 14px;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #2B4162;
}

.disclaimer p{
    font-size: 14px;
    text-align: center;
    color: #B8B6C7;
}

/* Payment section */
#payment{
   margin-top: 40px;
   padding: 40px 40px;
}

#payment h2{
    text-align: left;
}

#payment h6{
    margin-top: 24px;
}


.payment-image{
    display: flex;
    justify-content: end;
}

.payment-content{
    align-self: center;
}

.payment-content h2{
    max-width: 500px;
   
}

.feautre-list{
    margin-top: 80px;
}

.large-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #7B788D;
}

.small-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7B788D;
}

h3{

    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #2B4162;
    
}

.upcoming-features{
    margin-top: 40px;
}

.upcoming-features-items{
    padding-top: 40px;
}

.upcoming-features-items .large-text{
    color: #2B4162;
    font-size: 18px;
}

.upcoming-features-items{
    margin-top: 40px;
}

.upcoming-features-items .feature{
    display: flex;
    flex-direction: column;
}

.upcoming-features-items .feature img{
    align-self: center;
    width: 64px;
    margin-bottom: 24px;
}

.upcoming-features{

    background-image: url(../images/upcoming-payment-image.png);
    padding: 40px 24px;
}



/* Management section */
#management{
    background-color: aqua;
    height: 100px;
}

/* Pricing section */
#pricing{

    background-color: bisque;
    height: 100px;

}

/* Tenant section */
#tenant{
    background-color: aqua;
    height: 100px;

}

/* Contact section */
#contact{

    background-color: bisque;
    height: 100px;

}



@media only screen and (max-width: 600px) {
    nav ul{
        margin-top: 40px;
        gap:16px;
        margin-left: 0;
    }


    #menu .primary-button{
        display: none;
    }

    #hero{
        padding: 40px 24px;
    }
    
    .hero-content h1{
        font-size: 40px;
    }

    .hero-buttons{
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    #hero img{
        margin-top: 24px;
    }

    #facts{
        margin-top: 40px;
    }
    
    .facts-content-items{
        padding: 0px 24px;
    }

    .facts-content-items h3{
        font-size: 24px;
    }
    
    
    .facts{
        margin: 40px 24px;
        gap: 16px;
        
    }
    
    .fact{
        border-radius: 16px;
        width: 312px;
    }
    
    .fact h2{
        font-size: 32px;
        
    }

    .disclaimer p{
        padding: 0px 24px;
    }

    #payment{
        margin-top: 24px;
    }

    #payment h2{
        font-size: 24px;
    }
    #payment h6{
        font-size: 16px;
    }

    .payment-image img{
        margin-top: 40px;
    }
    
    .feautre-list{
        margin-top: 40px;
    }

    .feautre-list .large-text{
        font-size: 16px;
    }
    
    .feature {
        margin-bottom: 40px;
    }

    .feature .small-text{
        font-size: 14px;
    }

    .upcoming-features{
        margin-top: 0;
        padding: 24px 16px;
        margin: 0;
    }
  }